/* Aplicamos estilos a nuestra clase específica */
.custom-faq-panel {
  background: white !important;
  border: 1px solid #f3f4f6 !important; /* gray-100 */
  box-shadow: none !important;
  border-radius: 1rem !important;
  transition: border-color 0.3s ease !important;
}

.custom-faq-panel:hover {
  border-color: #dbeafe !important; /* blue-100 */
}

/* Evitamos el estilo gris nativo de Material al hacer clic */
::ng-deep .mat-expansion-panel-header {
  border-radius: 1rem !important;
}

::ng-deep .mat-expansion-panel-header:hover,
::ng-deep .mat-expansion-panel-header.cdk-focused {
  background: transparent !important;
}

/* Color del título al expandir */
.mat-expansion-panel-header.mat-expanded mat-panel-title {
  color: #003097 !important;
}

/* Asegurar que el contenido interno tenga espacio y no se corte */
::ng-deep .mat-expansion-panel-content {
  overflow: visible !important;
}