<div class="w-[100%] max-w-[1200px] mx-auto py-1">
  <div class="mb-4">
    <h1 class="text-2xl font-semibold text-gray-800 mb-3">Registro de pagos</h1>
    <div class="flex flex-col gap-2 mb-4"></div>

    @if (totalItems() == 0) {
      @if (isLoading()) {
        <div class="absolute inset-0 flex items-center justify-center bg-white/70">
          <mat-spinner diameter="50"></mat-spinner>
        </div>
      } @else {
        <div class="flex flex-col items-center justify-center py-20 w-full text-gray-500">
          <span class="text-lg font-medium">No hay datos registrados</span>
        </div>
      }
    } @else {
      <div class="bg-white rounded-2xl border border-gray-100 shadow-sm overflow-hidden p-2 md:p-4">
        <div class="overflow-x-auto scrollbar-hide">
          <table
            style="background-color: rgb(255, 255, 255) !important"
            mat-table
            [dataSource]="pagedPaymentOrders()"
            class="w-full min-w-[700px] bg-white"
          >
            @for (col of displayedColumns; track col) {
              <ng-container [matColumnDef]="col">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  class="px-6 py-6 font-bold text-gray-400 uppercase"
                >
                  {{ col }}
                </th>

                <td mat-cell *matCellDef="let element" class="px-6 py-8 text-sm">
                  {{ element[col] || '-' }}
                </td>
              </ng-container>
            }

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-transparent"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              class="row-customize hover:bg-gray-50/50 transition-colors cursor-pointer group"
            ></tr>
          </table>
        </div>

        <div class="px-6 py-4">
          <mat-paginator
            [length]="totalItems()"
            [pageSize]="pageSize()"
            [pageSizeOptions]="[1, 5, 20, 30, 50]"
            (page)="onPageChange($event)"
            showFirstLastButtons
            class="!text-[11px] !font-bold !uppercase !tracking-widest bg-white"
            style="background-color: rgb(255, 255, 255) !important"
          >
          </mat-paginator>
        </div>
      </div>
    }
  </div>
</div>